*{box-sizing: border-box;}
body{height: 100%; width:100;margin: 0; display: flex;justify-content: center;align-items: center;flex-direction: column;}
html{height: 100%; width:100;}
#imgPin
{width:6%;
margin-top: 30px;}
#header
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Arial;
}
#header1
{font-size: 40px;
  color: #33333;
  padding:8px;
  margin:0;
  margin-top: 10px;
}
#header2
{
  font-size: 16px;
  color: #33333;
  font-weight: 300;
  padding: 8px;
  margin: 0;
  width:60%;
  text-align: center;
  margin-bottom: 15px;
}
#emailadresse, #passwort, #alter
{
  width:25%;
  height:55px;
  border:2px solid #dddddd;
  border-radius: 15px;
  padding: 20px;
  margin:5px 0;
  font-size: 18px;
  font-family: Arial;
  color:#767676;
  outline: none;

}
span{
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  margin: 8px;
}
#button, #buttonFace, #buttonGo
{
  width:25%;
  height:45px;
  border-radius: 30px;
  border:none;
  padding:5px;
  margin:5px;
  font-size: 16px;
  color:white;
  font-weight: bold;

}
#button
{
  background-color: #e60023;
}
#buttonFace
{
  background-color: #1a73e8;
}

#buttonGo
{
  background-color: white;
  color:#767676;
  font-size: 14px;
  border:1px solid #dddddd;
}
#unten
{
  width:24%;
  color:#767676;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
  font-family:arial;
  font-size: 12px;
  font-weight: 300;
}
a
{
  text-decoration: none;
  font-weight: bold;
  color:black;
  font-size: 13px;
}
#konto
{display: flex;
  width:100%;
  height:20%;
  background-color:#efefef ;
  color:black;
  font-family: arial;
  font-size:16px;
  padding:30px;
  margin-top:30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
